.month-item {
    width: 262px;
    border: 1px solid #ddd;
    margin: 16px;
    text-align: center;
    font-family: sans-serif;
    color: #444;

    &__month-name {
        text-transform: capitalize;
    }

    &__header {
        display: flex;
        font-size: 14px;
    }

    &__days-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
        &-item {
            width: 20px;
            height: 20px;
            margin: 6px;
            padding: 2px;
            background-color: #ddd;
            color: #222;
        }
    }
}

.calendar-net {
    display: flex;
    flex-wrap: wrap;
}

.days-name {
    width: 24px;
    margin: 6px;
    cursor: default;
}

// .month-item